* {
  box-sizing: border-box;
}

.header-container {
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
  grid-template-areas:
    "img seeker filter"
    "img stats filter";
  align-items: center;
}
#imag {
  width: 200px;
}
.logo {
  width: 20%;
  margin-left: 30px;
  grid-area: img;
  filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.7));
}

.filter {
  background-color: #e9778c;
  margin-right: 30px;
  width: fit-content;
  grid-area: filter;
  padding-bottom: 15px;
  border-radius: 5px;
}
.seeker {
  margin: 0px 20px;
  width: 80%;
  grid-area: seeker;
}

.stats {
  background-color: #e9778c;
  color: white;
  grid-area: stats;
  margin: 0px 20px;
  width: 80%;
  padding: 5px;
}
.kanto,
.johto {
  background-color: #cf4962;
  color: #b3cae8;
  display: inline-block;
  width: 49%;
  border-radius: 5px;
  text-align: center;
}
.root-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: calc(78vh - 70px);
}

.divs-poke:hover {
  background-color: #b3cae8e0;
}
.divs-poke {
  background-color: #21579df3;
  padding: 20px 10px;
  margin: 30px 20px;
  width: 400px;
  height: 200px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

body {
  margin: 0%;
  padding: 0%;
  padding-top: 150px; /* cambio aqui */
  background-image: url(https://images5.alphacoders.com/558/558606.jpg);
  background-color: #5c86b8;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}

header {
  background-color: #ad1e38d8;
  font-family: "Roboto", sans-serif;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
footer {
  background-color: #ad1e38d8;
  padding: 9px;
  text-align: center;
  height: min-content;
}

#imag2 {
  width: 8rem;
  margin: 0px;
  padding: 0px;
}

#search::placeholder {
  font-size: 18px;
}
.filter-title {
  background-color: #cf4962;
  width: 100%;
  margin-top: 0px;
  text-align: left;
  padding: 3px 20px 3px 5px;
  border-radius: 5px 5px 0px 0px;
}
.filter-title > p {
  margin: 0px;
}
.sort-select,
.type {
  display: inline-block;
  margin-top: 10px;
}

.sort-select {
  padding: 0 30px 0 20px;
}

.type {
  padding: 0 20px 0 30px;
}

#search {
  border-radius: 10px;
  width: 100%;
  font-size: 20px;
}

main {
  font-family: "Reem Kufi", sans-serif;
}
.img-poke {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
}

.div-info {
  background-color: #c4c4c465;
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}
.div-info > p {
  margin: 3px 0;
}

.div-text {
  display: inline-block;
  font-size: 18px;
  width: 60%;
}
.region-text {
  display: inline-block;
  margin-left: 130px;
  color: #a7a3a3;
}
.number-text {
  display: inline-block;
}
.div-tipo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  align-content: center;
}

.div-tipo-0 {
  width: fit-content;
  text-align: center;
  margin-right: 20px;
}

.div-tipo-1 {
  width: fit-content;
  text-align: center;
  /*background-color: #ffafcc;*/
  padding: 2px 5px;
  margin-right: 20px;
  border-radius: 5px 5px;
}

.div-tipo-2 {
  width: fit-content;
  text-align: center;
  background-color: magenta;
  padding: 2px 5px;
  border-radius: 5px 5px;
}

p {
  margin: 0px;
}
@media only screen and (max-device-width: 900px) {
  .root-container {
    flex-direction: column;
  }
}
@media only screen and (max-device-width: 900px) {
  .header-container {
    margin: 5px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    grid-template-areas:
      "img stats"
      "img seeker"
      "filter filter";
  }
  .filter {
    margin-right: 30px;
    width: 100%;
    border-radius: 5px;
  }
  #imag {
    width: 20vw;
  }
  .logo {
    width: 100%;
    padding: auto;
  }

  .seeker {
    margin: 0px;
    padding: 5px;
    width: 100%;
  }

  .stats {
    margin: 0px;
    padding: 5px;
    width: 100%;
  }
  .sort-select,
  .type {
    display: inline-block;
    margin-top: 5px;
  }

  .sort-select {
    padding: 0 10px 0 10px;
  }

  .type {
    padding: 0 5px 0 10px;
  }
  #search::placeholder {
    font-size: 15px;
  }
  .root-container {
    padding-top: 120px;
  }
}
