*{
    box-sizing: border-box;
}
.header-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    align-content: center;

}
.root-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    justify-content:center;
   
    
}
#root > div{
    background-color: #4E80C1;
    padding: 20px;
    margin: 30px 20px;
    width:300px;
}

#root > div:hover{
    background-color: blue;
    
}



body{
    margin:0%;
    padding: 0%;
    background-color:#21579D;
}

header{
    background-color: #CF4962;
    font-family: 'Roboto', sans-serif;
    padding:10px 10px;
   
}
.logo{
    background-color:antiquewhite;
    width:20%;
}

#imag{
    width: 200px;
}

.filter{
    background-color: #E9778C;
    padding-bottom: 10px; 
}

.seeker{
    background-color: yellow;
    margin: 0px 20px;
    width:30%;
    text-align: left;
}

.filter-title{
    background-color: #8C0B23;
    width: 100%;
    margin-top:0px;
    text-align: left;
    padding: 0px 20px;
}
.filter-title > p{
    margin: 0px;
}

.region > p, label, input {
    display: inline-block
}

.region{
    padding: 0px 20px;
}

.sort-select, .type {
    display: inline-block;
}

.sort-select{
    padding-right: 20px;
    padding-left: 20px;
}

.type{
    padding-left: 20px;
}

#search{
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
}


main{
    font-family: 'Reem Kufi', sans-serif;
}

